body{
    background-color: rgb(34, 34, 34);
    color: white;
    font-family: 'Mooli', sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}
header{
   display: flex; 
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}
#title{
 flex-direction: column;
 line-height: 10px;
}
li{
    display: inline-block;
    margin: 20px;
  
}
a{
    color: white;
}
a:hover{
    color: rgb(132,14,201);
    transition: 0.30s all;
}
#inscreva-se-btn{
    border: 2px solid rgb(132,14,201);
    padding: 10px;
    border-radius: 20px;
}
#inscreva-se-btn:hover{
  background-color: rgb(132,14,201);
  color: white;
}
h1{
    font: 200;
}
main{
    display: flex;
   flex-direction: row;
   margin-top: 50px;
}
h2{
    font-size: 56px;
    line-height: 10px;
    font-family: 'Inclusive Sans', sans-serif;
}
span{
 color: rgb(132,14,201);
}
p{
    line-height: 20px;
    max-width: 500px;
    font-family: 'Mooli', sans-serif;
}
image{
    width: 580px;
}
form{
    display: flex;
    flex-direction: column;
    width: 70%;
}
input{
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
}
form [type="submit"]{
    height: 50px;
    width: 50%;
    background-color: rgb(132, 14, 201);
    color: white;
    font-weight: bold;
}
